body {
    max-width: 50em;
    min-width: 20em;
    margin: auto;
    padding: 1em;
    font-family: 'Book Antiqua', serif;
    font-size: 18px;
    line-height: 1.3em;
}

img {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    font-family: Lato, Helvetica, Arial, sans-serif;
}

p {
    margin-bottom: 1.2em;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    color: #333;
    text-align: justify;
}

pre {
    padding: 1em;
}

code, pre {
    background-color: #ddd;
}

body>header h1 {
    font-size: 2.2em;
}

body>header h2 {
    font-size: 1.1em;
    font-weight: normal;
}

body>header a, body>header a:hover {
    color: black;
    text-decoration: none;
}

menu {
    padding: 0;
    margin: 0;
}

nav {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a, section a {
    color: #213ee4;
    text-decoration: none;
}

nav a {
    padding: 0 2em;
}

nav a:hover, section a:hover {
    color: #ca620d;
    text-decoration: underline;
    cursor: pointer;
    background-color: #f0f0f0;
}

article header p {
    margin: 0.2em;
    margin-left: 2em;
}

article header {
    margin-bottom: 2em;
}

article h1 {
    font-size: 2em;
    margin-bottom: 0.2em;
}

article h2 {
    font-size: 1.5em;
}

body>footer {
    text-align: center;
    border-top: 1px solid black;
    margin-top: 10px;
}
