body {
    max-width: 60em;
    min-width: 20em;
    margin: auto;
    padding: 1em;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.4em;
    background: #eee;
}

img {
    max-width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
}

.left_panel, .right_panel {
    border: 1px solid lightgray;
}

.left_panel > img {
    margin: 10px;
}

.description {
    padding: 10px;
}

@media (max-width: 960px) {
    .panel {
        flex-direction: column;
    }

    .panel > .left_panel {
        white-space: nowrap;
        overflow-x: scroll;
    }

    .panel > .left_panel > img {
        display: inline-block;
    }
}

